
<div class="topCommenters">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{topCommenters.username}}  ({{topCommenters.num_comments}})
   
    </div>

  </section>
  {{/each}}
</div>