<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stack Underflow</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header
        class="py-4 pr-2 bg-gray-600 sm:flex justify-between w-auto bg-opacity-80 sticky top-0 align-center border-b-4"
      >
        <h1 class="pl-2 text-2xl font-extrabold">
          <a href="/">Stack_Underflo</a>
        </h1>
        <nav class="sm:flex sm:justify-between sm:pt-0 pt-2">
          {{#if loggedIn}}
            <a
              class="mr-2 text-xs sm:text-xl bg-blue-600 p-1 rounded-lg"
              href="/search"
            >Search</a>
            <a
              class="mr-2 text-xs sm:text-xl bg-blue-600 p-1 rounded-lg"
              href="/dashboard"
            >Dashboard</a>
            <button
              class="mr-2 text-xs sm:text-xl bg-blue-600 p-1 rounded-lg"
              id="logout"
              class="btn-no-style"
            >Logout</button>
          {{else}}
            <a
              class="sm:text-xl text-xs bg-blue-600 p-1 rounded-lg"
              href="/login"
            >Login</a>
            <a
              class="sm:text-xl text-xs bg-blue-600  ml-2 p-1 rounded-lg"
              href="./signup"
            >SignUp</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer class="flex justify-center p-1 font-extrabold text-xl text-white">
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

  </body>

</html>