<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stack Underflow</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <header class="mt-4 font-mono">
        <h1>
          <a class="text-indigo-600 text-2xl" href="/">STACK UNDERFLOW</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/search">Search</a>
            <a href="/dashboard">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a class="text-indigo-600" href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main> 
        {{{body}}}
      </main>
      <footer class="font-bold">
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

  </body>

</html>