
<div class="login-page bg-white bg-opacity-70 pl-6 sm:rounded-b-xl">
<section class="hero text-center">
  <div class="heading">
    <h1 class="text-blue-900">Welcome to Stack Underflo</h1>
  </div>
</section>

<section class="">
  <h3 class="text-black mt-2"><a class=" text-blue-600" href="./signup">Signup</a>&emsp13; for new members!</a></h3>  
  <form class="login-form mt-3">
    <h7 class ="signup-logo font-extrabold text-xl text-blue-600"><i class="fab"</i>Member Login:</h7>
    <div class="pt-2">
      <label class="text-black " for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div class="pt-2">
      <label class="text-black" for="password-login">Password:</label>
      <input type="password" id="password-login" />
   </div>
    <div class="pt-4 w-2/6 pb-2 sm:pb-20">
      <button type="submit">Login</button>
    </div>
</form>
</section>
</div>
<script src="/javascript/login.js"></script>