<section>
<h3><a href="./signup">Signup</a>&emsp13; for new members!</a></h3>  
<form class="login-form">
<h7 class ="signup-logo"><i class="fab"</i>Member Login</h7>
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
</section>
<script src="/javascript/login.js"></script>