<section class="flex">
  <article class="w-4/12">
    <div class="bg-none justify-center border rounded pl-6 pt-2 shadow-xl">
      <form class="login-form">
        <span class=" font-bold text-center">ALREADY A MEMBER? SIGN IN</span>
        <div>
          <label class="font-semibold" for="email-login">Email:</label>
          <input type="text" id="email-login" />
        </div>
        <div>
          <label class="font-semibold" for="password-login">Password:</label>
          <input type="password" id="password-login" />
        </div>
        <div>
          <button class="bg-blue-300 w-28 mt-1" type="submit">Login</button>
        </div>
      </form>
    </div>
    <div class="justify-center border rounded mt-12 pl-6 pt-2 shadow-lg">
      <form class="signup-form">
        <span class="font-bold">SIGN UP HERE!</span>
        <div>
          <label class="font-semibold" for="username-signup">Username:</label>
          <input type="text" id="username-signup" />
        </div>
        <div>
          <label class="font-semibold" for="email-signup">Email:</label>
          <input type="text" id="email-signup" />
        </div>
        <div>
          <label class="font-semibold" for="password-signup">Password:</label>
          <input type="password" id="password-signup" />
        </div>
        <div>
          <button class="bg-blue-300 w-28 mt-1" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </article>
  <article id="login" class="ml-8 bg-blue-200 w-full rounded-lg">
    <span>Placeholder</span>
  </article>
</section>
<script src="/javascript/login.js"></script>