<div class="signup-page bg-white bg-opacity-40 pl-6 sm:rounded-b-xl">
  <section>
    <div class="heading">
      <h1 class=" text-white font-extrabold">Join Our Community Today!</h1>
    </div>
  </section>

  <section class="text-black shadow-lg w-6/12 border bg-opacity-80 pl-2 rounded-t-md bg-white">
    <form class="signup-form">
      <div class="pt-6">
        <h7 class="signup-logo text-blue-600 text-xl font-black"><i class="fab"></i>Create
          a New Member Account:</h7>
      </div>
      <div class="font-semibold">
        <label for="username-signup">Enter Username:</label>
        <input class="text-black" type="text" id="username-signup" />
      </div>
      <div class="font-semibold">
        <label for="email-signup">Enter Email:</label>
        <input class="text-black" type="text" id="email-signup" />
      </div>
      <div class="font-semibold">
        <label for="password-signup"> Enter Password:</label>
        <input class="text-black" type="password" id="password-signup" />
      </div>
      <div class="pt-4 w-2/6 pb-2">
        <button class="p-1" type="submit">Create Account</button>
      </div>
    </form>
  </section>
</div>

<script src="/javascript/signup.js"></script>