<div class="signup-page pl-6 sm:rounded-b-xl">
  <section class="hero">
    <div class="heading">
      <h1>Join Our Community Today!</h1>
    </div>
  </section>

  <section class="text-white">
    <form class="signup-form">
      <div class="pt-6">
        <h7 class="signup-logo  text-xl font-extrabold"><i class="fab"></i>Create
          a New Member Account:</h7>
      </div>
      <div class="font-semibold">
        <label for="username-signup">Enter Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div class="font-semibold">
        <label for="email-signup">Enter Email:</label>
        <input type="text" id="email-signup" />
      </div>
      <div class="font-semibold">
        <label for="password-signup"> Enter Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div class="pt-4 w-2/6 pb-2 sm:pb-20">
        <button class="p-1" type="submit">Create Account</button>
      </div>
    </form>
  </section>
</div>

<script src="/javascript/signup.js"></script>