<div class="signup-page h-full pl-6">
  <section>
    <div class="heading text-center pt-8">
      <h1 class="text-white sm:font-extrabold">Join Our Community Today!</h1>
    </div>
  </section>
  <section class="flex justify-center">
    <div
      class="text-black shadow-lg w-auto sm:w-auto border bg-opacity-70 pl-2 rounded-md bg-white flex justify-center"
    >
      <form class="signup-form p-3">
        <div class="pt-2">
          <h7 class="signup-logo text-blue-700 sm:text-xl font-black"><i
              class="fab"
            ></i>Create a New Member Account</h7>
        </div>
        <div class="font-semibold ">
          <label for="username-signup">Enter Username:</label>
          <input class="text-black w-full" type="text" id="username-signup" />
        </div>
        <div class="font-semibold">
          <label for="email-signup">Enter Email:</label>
          <input class="text-black w-full" type="text" id="email-signup" />
        </div>
        <div class="font-semibold">
          <label for="password-signup"> Enter Password:</label>
          <input class="text-black w-full" type="password" id="password-signup" />
        </div>
        <div class="pt-4">
          <button class="p-1 bg-blue-900 hover:bg-blue-400" type="submit">Create
            Account</button>
        </div>
      </form>
    </div>
  </section>
</div>

<script src="/javascript/signup.js"></script>