
<form class="signup-form"> 
    <h7 class ="signup-logo"><i class="fab"></i>New Member Account</h7>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>