{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form pl-2 pt-4">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button class="p-1 hover:bg-blue-900" type="submit">Add Comment</button>
    <button class="hover:bg-green-800 p-1 bg-green-400 Like-btn">Like</button>
  </div>
</form>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>
{{/if}}